@page "/BorrarDatos"
<h3>BorrarDatos</h3>

<button class="btn btn-primary" 
        @onclick="BorrarDatoSencillo">Borrar Dato Sencillo</button>
<button class="btn btn-primary"
        @onclick="BorrarObjeto">Borrar Objeto</button>
<button class="btn btn-primary"
        @onclick="BorrarTodo">Borrar todo</button>
