@page "/"

<form>
    <div class="mb-3">
        <label class="form-label">Dato Simple</label>
        <input @bind-value="ValorSencillo" type="text" 
               class="form-control">
    </div>
        <button @onclick="Guardar" 
                class="btn btn-primary" 
                type="button">Guardar dato simple</button>
</form>

